.pop{
    margin-left: 30px;
    padding-bottom: 120px;
    
}
.pop1{
    margin-left: 160px;

}
.pop2{
    padding-top: 900px;
    margin-left: 30px;
}
.pop3{
    margin-left: 80px
}
.text{
    margin-left: 30px;
}
.heading-1{
    color:  rgba(14, 53, 110, 0.979);
    padding-left: 30px;
}
.plo{
    margin-left: 30px;
}
.lop{
   color:rgba(14, 53, 110, 0.979); ;
}
.texty{
    color: azure;
    text-align: right;
    padding-top: 335px;
}
.texty-3{
    color: azure;
    text-align: right;
    padding-top:170px ;
}
.texty-4{
    color: azure;
    text-align: right;
    padding-top: 180px;
}
.texty-1{
    color: azure;
    text-align: right;
    padding-top: 300px;
}
.texty-2{
    color: azure;
    text-align: right;
    padding-top: 130px;
}